{% extends "base.html" %}
{% block title %}About Page{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
    <h1 class="display-1">About</h1>
</div>

<div style="margin: 10vh;">
    <div class="d-flex justify-content-center">
        <p>NAPA. “To nurture. To advance. To prosper. To accelerate” - Our Mission</p>
    </div>
    
    <div>
        <p>We empower farmers, gardeners, and plant enthusiasts alike to detect and prevent plant diseases. This farming tool will allow diseases to be detected immediately to prevent future troubles. This will, in turn, encourage plant productivity without the cost of noticing diseases when it's too late. Preventing plant diseases earlier on will save lots of money which is crucial when it comes to large scale plant production. With AI-powered photo detection, identifying plant diseases is as simple as a click of a button. It's that EASY!</p>
    </div>
    
    <div>
        <p>Try it out for yourself! Upload a photo of your plant’s leaf and get your desired results. This will tell you the health of your plant in seconds. </p>
    </div>
</div>






{% endblock %}