{% extends "base.html" %}
{% block title %}Camera Page{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
    <video id="video" width="640" height="480" autoplay style="background-color: grey"></video>
</div>
<div class="d-flex justify-content-center">
    <canvas id="canvas" width="640" height="480" style="background-color: grey"></canvas>
</div>
<div class="d-flex justify-content-center">
    <button id="snap">Take Photo</button>
</div>

<script>

// Elements for taking the snapshot
var video = document.getElementById('video');
var canvas = document.getElementById('canvas');
var context = canvas.getContext('2d');

canvas.style.display = "none";

// Get access to the camera!
if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    // Not adding `{ audio: true }` since we only want video now
    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        video.srcObject = stream; // assing stream to <video>
        video.play();             // play stream
    });
}

async function sendImageToServer(imageData) {
    const response = await fetch('/camera', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ image: imageData })  // Send the base64 image data
    });

    if (response.ok) {
        alert('Image uploaded successfully!');
    } else {
        alert('Error uploading image');
    }
}

// Trigger photo take
document.getElementById("snap").addEventListener("click", function() {
    context.drawImage(video, 0, 0, 640, 480);  // copy video frame to canvas
    canvas.style.display = "block";
    if (video.style.display === "none") {
        video.style.display = "block";
        canvas.style.display = "none";
    } else {
        video.style.display = "none";
        canvas.style.display = "block";
    }
    var imageData = canvas.toDataURL("image/png");  // Get image as base64
    sendImageToServer(imageData); 
});
</script>

{% endblock %}
